NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "DIO" LOC = P57 |  IOSTANDARD = LVTTL;
NET "SCK" LOC = P66 |  IOSTANDARD = LVTTL;
NET "RCK" LOC = P74 |  IOSTANDARD = LVTTL;